MYSQLDB_DATABASE=
MYSQLDB_URL=
MYSQLDB_USER=
MYSQLDB_ROOT_PASSWORD=

JWT_SECRET=
JWT_EXPIRATION=

APP_BASE_URL=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_CURRENCY=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=

TELEGRAM_ENABLED=
TELEGRAM_API_URL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_OVERDUE_CRON=
